body {
    background-color: black;
    font: veranda;
    color: white;
}

h3{
	text-align: center;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img{
	padding: 2px;
}
.price{
	clear: right;
	width: 60%;
}

.symbol{	
	float: left;
	width: 40%;
}

.blue{
	color: cyan;
}

.red{
	color: red;
}

.green{
	color: green;
}

.whiteBorder{
	border: 2px solid white;
}

.yellowBorder{
	border: 2px solid yellow;
}

.mainDiv{
	/*Set border properties for visibility*/
	border: 2px solid;
	/*border-color: white;*/
	border-radius: 5px;

	/*Set margin and padding to keep elments off of their containers walls*/
	padding: 10px;
	margin: 10px;


	position: fixed;
	overflow: visible;
	clear:both;

	/*Hide all content by default so we can apply fade in effect later*/
	display: none;
}

#weather{
	top: 0;
	left: 0;
}

#events{
	top: 0;
	right: 0;
}

#money{
	bottom: 0;
	left: 0;
	text-align: right;
	width: 250px;
	overflow: auto;
}

#stockTable{
	float: left;
}

#coinTable{
	float: right;
}

.table{
	width: 50%;
}

#home{
	bottom: 0;
	right: 0;
}

#weatherIcon{
	float: right;
}

#location{
	padding-left: 10px;
	float: left;
}

#tempNow{
	font-size: 32px;
	padding: 0px;
	margin: 0px;
}

#time{
	font-size: 32px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

#date{
	padding: 0px;
	margin: 0px;
}
